POSTGRES_USER=my_pace
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=my_pace_db
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

# Generate a strong 256-bit or 512-bit HS512 secret key
JWT_SECRET=your_jwt_secret_key_here

# Resend API Key for sending OTP emails
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev

# Spring DataSource and Redis configurations for Docker Compose
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/my_pace_db
SPRING_DATASOURCE_USERNAME=my_pace
SPRING_DATASOURCE_PASSWORD=your_postgres_password
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=your_redis_password_here
SPRING_DATA_REDIS_SSL_ENABLED=false
SPRING_JPA_HIBERNATE_DDL_AUTO=update
